# Node modules
node_modules/

# Build output
dist/
build/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Dependency directories
jspm_packages/

# IDE files
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# VS Code directories
.vscode/
.history
.bolt

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Miscellaneous
.DS_Store
Thumbs.db
.history
.bolt
